<section class="card-section">
  <button class="reset">
    <i class="reset-icon fa-regular fa-trash-can"></i>
    <p class="reset-text">reset</p>
  </button>
  <article class="card">
    <div class="card-text">
      <h2 class="card-text-name">nombre apellido</h2>
      <p class="card-text-job">front-end developer</p>
    </div>
    <img
      src="./assets/images/card_sample_pic_crop.jpg"
      alt="card picture"
      class="card-image"
      title="card picture"
    />
    <ul class="social-media">
      <li class="social-media-icon">
        <i class="fa-solid fa-mobile-screen-button"></i>
      </li>
      <li class="social-media-icon">
        <i class="fa-regular fa-envelope"></i>
      </li>
      <li class="social-media-icon">
        <i class="fa-brands fa-linkedin-in"></i>
      </li>
      <li class="social-media-icon">
        <i class="fa-brands fa-github-alt"></i>
      </li>
    </ul>
  </article>
</section>
