<section class="card-section">
  <button class="reset">
    <i class="reset-icon fa-regular fa-trash-can"></i>
    <p class="reset-text">reset</p>
  </button>
  <article class="card">
    <div class="card-text">
      <h2 class="card-text-name js-preview-name">nombre apellido</h2>
      <p class="card-text-job js-preview-job">front-end developer</p>
    </div>
    <img src="./assets/images/card_sample_pic_crop.jpg" alt="card picture" class="card-image" title="card picture" />
    <div class="social-media">
      <a href="#" class="social-media-icon js-phone-icon" target="_blank">
        <i class="fa-solid fa-mobile-screen-button"></i></a>
      <a href="#" class="social-media-icon js-email-icon" target="_blank">
        <i class="fa-regular fa-envelope"></i>
      </a>
      <a href="#" class="social-media-icon js-linkedin-icon" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="#" class="social-media-icon js-github-icon" target="_blank">
        <i class="fa-brands fa-github-alt"></i>
      </a>
    </div>
  </article>
</section>