<fieldset class="design">
  <div class="design__div">
    <i class="fa-solid fa-object-ungroup design__div--icon"></i>
    <legend class="design__div--legend">diseña</legend>
    <i
      class="fa-solid fa-chevron-up design__div--arrow js-arrow js-arrow-design-up"
    ></i>
    <i
      class="fa-solid fa-chevron-down design__div--arrow js-arrow js-arrow-design-down collapsed"
    ></i>
  </div>

  <div class="design__second js-design">
    <p class="design__second--colors">colores</p>
    <div class="div2_container">
      <div class="div2">
        <ul class="div2__palette">
          <label class="div2__palette--checkBox"
            ><input type="radio" id="green" name="palette"
          /></label>
          <li class="div2__palette--darkGreen div2__palette--list"></li>
          <li class="div2__palette--mediumGreen div2__palette--list"></li>
          <li class="div2__palette--lightGreen div2__palette--list"></li>
        </ul>
      </div>
      <div class="div2">
        <ul class="div2__palette">
          <label class="div2__palette--checkBox"
            ><input type="radio" id="red" name="palette"
          /></label>
          <li class="div2__palette--darkRed div2__palette--list"></li>
          <li class="div2__palette--mediumRed div2__palette--list"></li>
          <li class="div2__palette--lightRed div2__palette--list"></li>
        </ul>
      </div>
      <div class="div2">
        <ul class="div2__palette">
          <label class="div2__palette--checkBox"
            ><input type="radio" id="random" name="palette"
          /></label>
          <li class="div2__palette--greenThree div2__palette--list"></li>
          <li class="div2__palette--yellowThree div2__palette--list"></li>
          <li class="div2__palette--greyThree div2__palette--list"></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="line"></p>
</fieldset>
