<fieldset class="design">

    <div class="design__div">
        <i class="fa-solid fa-object-ungroup design__div--icon"></i>
        <legend class="design__div--legend">diseña</legend>
        <i class="fa-solid fa-chevron-up design__div--arrow"></i>
    </div>
    <div class="secondContainer">
        <p class="colors">colores</p>
        <ul class="palette greenPalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list darkGreen"></li>
            <li class="list mediumGreen"></li>
            <li class="list lightGreen"></li>
        </ul>
        <ul class="palette redPalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list darkRed"></li>
            <li class="list mediumRed"></li>
            <li class="list lightRed"></li>
        </ul>
        <ul class="palette threePalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list greenThree"></li>
            <li class="list yellowThree"></li>
            <li class="list greyThree"></li>
        </ul>
        <p class="line"></p>
    </div>
</fieldset>