<fieldset class="design">
    <div class="firstContainer">
        <p><i class="fa-solid fa-object-ungroup"></i></p>
        <legend class="title">diseña</legend>
    </div>
    <div class="secondContainer">
        <p class="colors">colores</p>
        <ul class="palette greenPalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list darkGreen"></li>
            <li class="list mediumGreen"></li>
            <li class="list lightGreen"></li>
        </ul>
        <ul class="palette redPalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list darkRed"></li>
            <li class="list mediumRed"></li>
            <li class="list lightRed"></li>
        </ul>
        <ul class="palette threePalette">
            <label class="checkBox"><input type="radio"></label>
            <li class="list greenThree"></li>
            <li class="list yellowThree"></li>
            <li class="list greyThree"></li>
        </ul>
    </div>
</fieldset>