<fieldset>
    <div class="firstContainer">
        <p><i class="fa-regular fa-keyboard"></i></p>
        <legend class="title">rellena</legend>
    </div>
    <label class="name" for="name">nombre completo</label>
    <input type="text" id="name" class="inputName" placeholder="Ej: Sally Jill" />

    <label class="job" for="job">puesto</label>
    <input type="text" id="job" class="inputJob" placeholder="Ej: Front-end unicorn" />

    <label class="img" for="img">imagen de perfil</label>
    <input type="button" id="img" class="inputImg" value="Añadir imagen" />

    <label class="email" for="email">email</label>
    <input type="email" id="email" class="inputEmail" placeholder="sally-hill@gmail.com" />

    <label class="tel" for="tel">teléfono</label>
    <input type="tel" id="tel" class="inputTel" placeholder="Ej: 555-55-55-55" />

    <label class="linkedin" for="linkedin">linkedin</label>
    <input type="text" id="linkedin" class="inputLinkedin" placeholder="http://linkedin.com/in/sally.hill" />

    <label class="git" for="git">github</label>
    <input type="git" id="git" class="inputGit" placeholder="Ej: @sally-hill" />
</fieldset>