<fieldset class="fill">
  <div class="fill__container">
    <i class="fa-regular fa-keyboard fill__container--icon"></i>
    <legend class="fill__container--legend">rellena</legend>
    <i
      class="fa fa-shield fa-shield fill__container--arrow js-arrow js-arrow-fill-down"
    ></i>
    <i
      class="fa-solid fa-chevron-down fill__container--arrow js-arrow js-arrow-fill-up collapsed"
    ></i>
  </div>

  <div class="js-fill collapsed">
    <div class="fill__name">
      <label class="fill__name--label text-label" for="name"
        >nombre completo</label
      >
      <input
        type="text"
        name="name"
        id="name"
        class="fill__name--inputName input js-name js-input"
        placeholder="Ej: Sally Jill"
        required
      />
    </div>
    <div class="fill__job">
      <label class="fill__job--label text-label" for="job">puesto</label>
      <input
        type="text"
        id="job"
        name="job"
        class="fill__job--inputJob input js-job js-input"
        placeholder="Ej: Front-end unicorn"
        required
      />
    </div>
    <div class="fill__img">
      <label class="fill__img--label text-label" for="img"
        >imagen de perfil</label
      >
      <input
        type="button"
        id="img"
        class="fill__img--inputImg input js-input"
        value="Añadir imagen"
      />
    </div>
    <div class="fill__email">
      <label class="fill__email--label text-label" for="email">email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="fill__email--inputEmail input js-email js-input"
        placeholder="sally-hill@gmail.com"
      />
    </div>
    <div class="fill__tel">
      <label class="fill__tel--label text-label" for="phone">teléfono</label>
      <input
        type="tel"
        name="phone"
        id="phone"
        class="fill__tel--inputTel input js-phone js-input"
        placeholder="Ej: 555-55-55-55"
      />
    </div>
    <div class="fill__linkedin">
      <label class="fill__linkedin--label text-label" for="linkedin"
        >linkedin</label
      >
      <input
        type="text"
        name="linkedin"
        id="linkedin"
        class="fill__linkedin--inputLinkedin input js-linkedin js-input"
        placeholder="http://linkedin.com/in/sally.hill"
      />
    </div>
    <div class="fill__git">
      <label class="fill__git--label text-label" for="github">github</label>
      <input
        type="text"
        name="github"
        id="github"
        class="fill__git--inputGit input js-github js-input"
        placeholder="Ej: @sally-hill"
      />
    </div>
  </div>
</fieldset>
