<main class="main">
    <img class="main__img"src="./assets/images/logo-awesome-profile-cards.svg" alt="logo awesome">
    <h1></h1> <!-- display none para que no se vea y encima poner la imagen -->
    <div class="main__title">
        <h2 class="title__create">crea tu tarjeta de visita</h2>
        <p class="ttile__text">crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>
    <section class="main__options">
        <ul class="options__list">
          <li class="list__icon"><i class="fa-regular fa-object-ungroup"></i> diseña</li>
          <li class="list__icon"><i class="fa-regular fa-keyboard"></i> rellena</li>
          <li class="list__icon"><i class="fa-solid fa-share-nodes"></i> comparte</li>
        </ul>
      </section>
    <section class="main__start">
        <a class="start__create" href="../create.html">comenzar</a>
    </section>
</main>