<main class="main">
  <div class="main__img">
    <img
      class="landing-img"
      src="./assets/images/awesome-woman-cards.png"
      alt="logo awesome"
    />
  </div>
  <h1 class="h1"></h1>
  <!-- display none para que no se vea y encima poner la imagen -->
  <section class="main__title">
    <div class="main__title--img"></div>
    <h2 class="main__title--create">Crea tu tarjeta de visita</h2>
    <p class="main__title--text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="main__options">
    <ul class="main__options--list">
      <li class="cop">
        <i class="fa-icon fa-regular fa-object-ungroup large"></i> diseña
      </li>
      <li class="cop">
        <i class="fa-icon fa-regular fa-keyboard"></i> rellena
      </li>
      <li class="cop">
        <i class="fa-icon fa-solid fa-share-nodes"></i> comparte
      </li>
    </ul>
  </section>
  <section class="main__start js-start">
    <a class="main__start--create" href="./create.html">comenzar</a>
  </section>
</main>
