//COLORS
$mainOrange: #e17334;
$hospitalGreen: #a2deaf;
$darkGreen: #114e4e;
$backgroundWhite: #f5f5f5;
$greyMetal: #54585a;

//FONTS
$landingTitle: 'Merriweather', serif;
$cardFont: 'Montserrat', sans-serif;
$mainFont: 'Open Sans', sans-serif;

//ICONOS
// <i class="fa-solid fa-object-ungroup"></i>
// <i class="fa-light fa-keyboard"></i>
// <i class="fa-solid fa-share-nodes"></i> 
// <i class="fa-regular fa-address-card"></i>









