//COLORS
$mainOrange: #e17334;
$backgroundWhite: #f5f5f5;
$greyMetal: #54585a;

//PALETAS

//Paleta 1
$darkGreen: #114e4e;
$mediumGreen: #438792;
$lightGreen: #a2deaf;
//Paleta 2
$darkRed: #420101;
$mediumRed: #bd1010;
$lightRed: #e95626;
//Paleta 3
$greenThree: #3e5b65;
$yellowThree: #eab052;
$greyThree: #a0c0cf;


//FONTS
$landingTitle: 'Merriweather', serif;
$cardFont: 'Montserrat', sans-serif;
$mainFont: 'Open Sans', sans-serif;
//ARROWS
.js-arrow{
    cursor:pointer;
}










