@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 80vh; */
  min-height: 70vh;
  background-color: $backgroundWhite;
  &__h1 {
    display: none;
  }
  &__img {
    height: 63px;
    width: 250px;
    margin: 96px 35px 35px 35px;
    @media all and (min-width: 768px) {
      width: 419px;
      height: 105px;
      margin-top: 200px;
    }
  }
  &__title {
    text-align: center;
    &--create {
      color: $mainOrange;
      font-family: $landingTitle;
      font-size: 19.2px;
      font-weight: 900;
      @media all and (min-width: 768px) {
        font-size: 24px;
      }
    }
    &--text {
      color: $darkGreen;
      font-family: $mainFont;
      font-size: 12.8px;
      text-align: center;
      white-space: pre-line;
      margin: 0px 27px 0px 27px;
      @media all and (min-width: 768px) {
        font-size: 16px;
        width: 331px;
        font-size: 16px;
      }
    }
  }
  &__options {
    display: flex;
    border: solid rgba($mainOrange, $alpha: 0.2) 1.6px;
    border-radius: 4px;
    padding: 15px 20px 17.8px 31.5px;
    margin: 17.8px 26px 0 26px;
    list-style-type: none;
    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
      justify-content: space-around;
    }
    &--list {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: capitalize;
      color: $greyMetal;
      font-family: $mainFont;
      font-size: 12.8px;
      list-style-type: none;
      gap: 30px;
      margin-top: 15px;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        gap: 51px;
        font-size: 16px;
      }
    }
  }
  .cop {
    display: flex;
    flex-direction: column;
  }

  .fa-icon {
    color: $mainOrange;
    font-size: 22.4px;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
  &__start {
    animation: bounce 2s ease infinite;
    display: flex;
    margin: 38px 101px 30px 90px;
    border-radius: 21px;
    text-transform: uppercase;
    background-color: $mediumGreen;
    color: white;
    /* transition: width 200ms, background-color 150ms, border 150ms, color 150ms;

    &:hover {
        width: 11.8rem;
        background-color: white;
        border: solid $mediumGreen 2px;
        color: $mediumGreen;
    } */
    @media all and (min-width: 768px) {
      margin: 186px 0 59px 0;
    }
    &--create {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-family: $mainFont;
      padding: 10px 20px;
    }
  }
}
