.firstContainer {
  padding-left: 20px;
  padding-top: 27px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fa-regular,
.fa-keyboard {
  width: 21px;
  height: 18px;
  color: $mainOrange;
}
