/*Icono+título+pestaña*/
.design {
  margin: 27px 20px 30px 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 31px;
    &--icon {
      color: $mainOrange;
      padding-right: 12px;
    }
    &--legend {
      font-family: $mainFont;
      font-weight: 600;
      color: $greyMetal;
      text-transform: uppercase;
      padding-right: 168px;
    }
    &--arrow {
      color: $greyMetal;
      font-size: 18px;
    }
  }

  &__second {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding-left: 10px;
    @media all and (min-width: 768px) {
      gap: 110px;
      padding-left: 0;
    }

    &--colors {
      font-family: $mainFont;
      font-size: 14px;
      color: $greyMetal;
      text-transform: uppercase;
      text-align: start;
    }
  }
}

.div2 {
  display: flex;
  flex-direction: column;
  &__palette {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    &--checkBox {
      display: flex;
      align-items: center;
      width: 17px;
      height: 17px;
      padding-top: 8px;
      padding-right: 20px;
    }
    &--list {
      width: 30px;
      height: 25px;
    }
    //first palettte -WonderAdalaber
    &--darkGreen {
      background-color: #716652;
    }
    &--mediumGreen {
      background-color: #6acdcc;
    }
    &--lightGreen {
      background-color: #f0b852;
    }
    //second palette - Front-end
    &--darkRed {
      background-color: #dea21a;
    }
    &--mediumRed {
      background-color: #555c1c;
    }
    &--lightRed {
      background-color: #b94111;
    }
    //third palette- Back-end
    &--greenThree {
      background-color: #ff0000;
    }
    &--yellowThree {
      background-color: #921c25;
    }
    &--greyThree {
      background-color: #181d11;
    }
  }
}

.line {
  width: 280px;
  border-top: 1px solid #d8d8d8;
  margin-top: 10px;
}

/* .arrow-design-rotate{
  transform: rotate(180deg);
} */
