/*Icono+título+pestaña*/
.design {
  margin: 10px 20px 0 23px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    padding-bottom: 10px;
    &--icon {
      color: $mainOrange;
      padding-right: 12px;
    }
    &--legend {
      font-family: $mainFont;
      font-weight: 600;
      color: $greyMetal;
      text-transform: uppercase;
      padding-right: 166px;
    }
    &--arrow {
      color: $greyMetal;
    }
  }
}

/*colores+paletas*/
.secondContainer {
  display: flex;
  flex-direction: column;
  .colors {
    font-family: $mainFont;
    font-size: 14px;
    color: $greyMetal;
    text-transform: uppercase;
    margin: 22px 0 0 29px;
  }
  .palette {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;

    .checkBox {
      padding-top: 5px;
      width: 17px;
      height: 17px;
    }
  }
}

.list {
  width: 30px;
  height: 25px;
}

/*lista verdes*/
.darkGreen {
  background-color: $darkGreen;
}
.mediumGreen {
  background-color: $mediumGreen;
}
.lightGreen {
  background-color: $lightGreen;
}

/*lista rojos*/
.darkRed {
  background-color: $darkRed;
}
.mediumRed {
  background-color: $mediumRed;
}
.lightRed {
  background-color: $lightRed;
}

/*lista random*/
.greenThree {
  background-color: $greenThree;
}
.yellowThree {
  background-color: $yellowThree;
}
.greyThree {
  background-color: $greyThree;
}

.line {
  width: 280px;
  border-top: 1px solid #d8d8d8;
}
