.header{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
        justify-content: flex-start;
    }
    &__img{
        width: 201px;
        margin: 31px 79px 30px 40px;
    }
    &__title{
        display: none;
    }
}