.create {
  width: 100%;
  background-image: linear-gradient(#f5f5f5, white);
  @media all and (min-width: 768px) {
    min-height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}

.collapsed{
  display: none;
}
.arrow-rotate{
  transform: rotate(180deg);
}